/* Sticky footer CSS */
html, /* Why both HTML & body? */
body
{
    height: 100%; /* height of the browser window */
}

body
{
    display: flex; /* in bootstrap this is the d-flex class*/
    flex-direction: column; /* in boot strap this is the flex-column class*/

}

main
{
    flex-grow: 1; /* Let it take up as much space as it can*/
    margin-top: 0.5rem;
}

footer
{
    flex-shrink: 0; /* do not let footer shrink below predeclared size*/
}
/* End Sticky footer CSS */